{% extends sonata_block.templates.block_base %}

{% block block %}

    <script type="text/javascript">
        {{ chart(collabResolveChart) }}
        {{ chart(userInteractChart) }}
        {{ chart(contribsAddResolvedPie) }}
        {{ chart(contribsEditResolvedPie) }}
    </script>

    <div class="chart-container row">
        <div id="userInteractChart" class="col-md-12 chart-item"></div>

        {% if matomo_url and matomo_site_id and matomo_token %}
        <div class="matomo-visits-container col-md-12">
            <matomo-visits 
                base-url="{{ matomo_url}}" 
                site-id="{{ matomo_site_id }}"
                token="{{ matomo_token }}"
                project-url="{{ helper.mainUrl }}">
            </matomo-visits>
        </div>
        {% endif %}

        <div id="contribsAddResolvedPie" class="col-lg-4 col-md-6 chart-item small"></div>  
        <div id="contribsEditResolvedPie" class="col-lg-4 col-md-6 chart-item small"></div>  
        <div id="collabResolveChart" class="col-lg-4 col-md-12 chart-item small"></div>  
        {% if customDashboard %}
            <div class="col-md-12">
                <div class="box">
                {{ customDashboard | raw }}
                </div>
            </div>  
        {% endif %}            
    </div>

    <style>
        .chart-item {
            height: 400px;
            margin-bottom:20px;
        }
        .chart-item.small {
            height: 260px;
        }
    </style>
       

{% endblock %}