{% extends 'admin/core_custom/base_edit.html.twig' %}
{% trans_default_domain 'admin' %}

{% block actions %}
{% endblock %}

{% block sonata_form_actions %}

  {% if object.lastRefresh %}
    <p>{{ 'imports.edit.lastRefresh'|trans }} {{ object.lastRefresh|date('commons.date_time_format'|trans) }}</p>
  {% endif %}

  {% set jsonCacheUntil = object.getJsonCachedUntil %}
  {% if jsonCacheUntil %}
    <p>
      {{ 'imports.edit.jsonCached'|trans({time: jsonCacheUntil|date('commons.time_format'|trans) }) }}
      <button type="submit" class="btn btn-default btn-sm" name="clear_cache" value="clear_cache">
        {{ 'imports.edit.clearCache'|trans }}
      </button>
    </p>
  {% endif %}

  <button type="submit" class="btn btn-success" name="submit">
    <i class="fa fa-save" aria-hidden="true"></i>{{ 'commons.save'|trans }}
  </button>

  {% if object.id != "" and object.ontologyMapping|length > 0 %}
    <button type="submit" class="btn btn-primary" name="import" value="import"
      {% if not object.lastRefresh and object.warnUserThatDuplicatesWillBeDetectedAndAutoMerged %}
        onclick="return confirm({{ 'imports.edit.confirm'|trans }})"
      {% endif %}>
      {% if object.lastRefresh %}
        <i class="fa fa-refresh" aria-hidden="true"></i>
        {{ 'imports.edit.reimport'|trans }}
      {% else %}
        <i class="fa fa-download" aria-hidden="true"></i>
        {{ 'imports.edit.import'|trans }}
      {% endif %}
    </button>
  {% endif %}
  
  {% set class = object.ontologyMapping|length > 0 ? 'btn-default' : 'btn-primary' %}
  {% if object.id != "" %}
    <button type="submit" class="btn btn-default" name="collect" value="collect" title="Met à jour les tables de correspondance sans réellement importer les données">
      <i class="fa fa-eye" aria-hidden="true"></i>{{ 'imports.edit.collect'|trans }}
    </button>
    <button type="submit" class="btn btn-default" name="clear-elements" value="clear-elements" title="Efface toutes les données précedemment importées. Il vous suffira de relancer l'import pour les recréer">
      <i class="fa fa-eraser" aria-hidden="true"></i>{{ 'imports.edit.clear-elements'|trans }}
    </button>
    <div class="btn-group">
      <a class="btn btn-danger view_link" href="{{ path('admin_app_import_delete', {'id': object.id}) }}">
        <i class="fa fa-trash" aria-hidden="true"></i>{{ 'imports.edit.delete'|trans }}
      </a>
      <button type="button" class="btn btn-danger view_link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{{ path('admin_app_import_delete', {'id': object.id}) }}">{{ 'imports.edit.delete'|trans }}</a></li>
        <li><a href="{{ path('admin_app_import_delete-and-keep-elements', {'id': object.id}) }}">{{ 'imports.edit.deleteAndKeepElements'|trans }}</a></li>
      </ul>
    </div>
    <style>
      body.sonata-bc div.wrapper {
        overflow: visible
      }
      div.sonata-ba-form-actions {
        margin-bottom: 50px
      }
    </style>
  {% endif %}

  <div class="save-overlay">
    <div class="save-overlay-content">
      <p>{{ 'imports.edit.saving'|trans }}</p>
      <i class="loading-icon fa fa-spinner fa-spin"></i>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('[name=submit], [name=collect]').click(() => $('.save-overlay').show());
    })
  </script>

{% endblock %}